<!DOCTYPE html>

{% extends "users/base.html" %}

{% block content %}

<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Returns </title>
</head>

<body>
    

    <div class="container">
        <h3 class="text-center" >Return Book</h3>
    
        <form id = "book_assignment">
            
            <div class="form-group">
              <label for="email">Email</label>
              <select class="form-control"  id="email" name="email" placeholder="Choose user's email">
              <option selected>Select Student</option>
              </select>
            </div>
            <div id="dynamic_student_detail"></div>
            <div id ="book_detail">
            </div>
            <div id ="return_button">
            </div>
            <div id ="notification" class="text-center">
            </div>
            
            
        </form>
        
    </div>
    
    

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    




</body>

</html>
    
<script>
    fetch('http://127.0.0.1:8000/lms/student_list/')
    .then(function (response) {
        return response.json();
    }).then(function (apiJsonData) {
        renderDataInTheTable(apiJsonData);        
    })

    var usr_id=""
    var bk_id=""
   

    function renderDataInTheTable(apiJsonData){
        if (apiJsonData.length>0){
                apiJsonData.map((e, i)=>{
                    $("#email").append( `<option id=${e.id}>${e.email}</option>`)
                })
            }
        }


        $("#email").change(function(){
            usr_id = $(this).children(":selected").attr("id")
            $.ajax({
                dataType: "json",
                url: 'http://127.0.0.1:8000/lms/student_detail/'+$('#email').val()+'/',
                headers:{         
                    'Authorization' : 'Bearer ' + localStorage.getItem("accessToken"),
                },
                success: function(data,status, xhr) {
                    $("#dynamic_student_detail").html(`
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name"disabled  value=${data.first_name} >
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" disabled value=${data.last_name} >
                            </div>
                            
                            <div class="form-group">
                                <label for="contact_number">Contact Number</label>
                                <input type="text" class="form-control" id="contact_number" name="contact_number" disabled value=${data.contact_number} >
                            </div>
                    `);    
                    
                },
                error: function() {
                    alert('Error')
                    }
                })

                $.ajax({
                    dataType: "json",
                    url: 'http://127.0.0.1:8000/lms/borrower_entry/'+usr_id+'/',
                    headers:{         
                        'Authorization' : 'Bearer ' + localStorage.getItem("accessToken"),
                    },
                    success: function(data,status, xhr) {

                        if ((data.length)!= 0){
                                    $("#book_detail").html(`<div class="form-group">
                                        <label for="books">Books</label>
                                        <select class="form-control"  id="book" name="book" placeholder="Select book">
                                        <option selected>Select Book</option>
                                        </select>
                                    </div>
                                    `
                                    )
                       
                       
                                    data.map((e,i) => {
                                            $.ajax({
                                                dataType: "json",
                                                url: 'http://127.0.0.1:8000/lms/book_detail/'+e.book +'/',
                                                headers:{         
                                                    'Authorization' : 'Bearer ' + localStorage.getItem("accessToken"),
                                                },
                                                success: function(data,status, xhr) {
                                                    $("#book").append( `<option id= ${e.book}>${data.title}</option>`)
                                                    $("#book").change(function(){
                                                        $("#return_button").html(
                                                            `
                                                            <div class="text-center" class="form-group">
                                                                <button class="btn btn-info" type="button"  id ='book_return' >Return</button>
                                                            </div> `
                                                        )
                                                            bk_id = $(this).children(":selected").attr("id")
                                                            $("#book_return").click(function(){
                                                                return_book_detail={borrower:usr_id,book:bk_id,status:"RETURNED"}
                                                                $.ajax({
                                                                    type:"PUT",
                                                                    dataType: "json",
                                                                    data: return_book_detail,
                                                                    url: 'http://127.0.0.1:8000/lms/borrower_entry/'+usr_id+'/',
                                                                    headers:{         
                                                                        'Authorization' : 'Bearer ' + localStorage.getItem("accessToken"),
                                                                    }, 
                                                                    success: function(data){
                                                                        alert("Book returned sucessfully")
                                                                    },
                                                                    error: function() {
                                                                        alert('Error')
                                                                    }


                                                                    })
                                                            
                                                                })  
                                                        })
                                                    },
                                                error: function() {
                                                    alert('Error')
                                                }
                                            })
                                        })
                                 }  
                            else{

                                    $("#notification").html(`
                                        <div class="form-group">
                                            <h3 style="color:darkblue;" >No books are assigned to this user</h3>
                                        </div>
                                        `
                              )

                            }
                                 
                        
                    },
                    error: function() {
                        alert('Error')
                        }
                    })
            
            })

</script>
{% endblock content %}
