
<html>

</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>Library Management Registration</title>

</head>

<body>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
<div class="container">
    <h3 class="text-center" >Library Management Registration</h3>

    <form id = "registration">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name= "email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="sex">Gender</label>
        <select class="form-control"  id="sex" name="sex" placeholder="Enter Gender">
        <option selected>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-group">
    <label for="department">Department</label>
        <select class="form-control"  id="department" name="department" placeholder="Enter department">
            <option selected>Select Department</option>
            <option value="ENGINEERING">Engineering</option>
            <option value="ARTS">Arts</option>
            <option value="COMMERCE">Commerce</option>
        </select>
    </div>
    <div class="form-group">
    <label for="contact_number">Contact Number</label>
    <input type="text" class="form-control" id="contact_number" name="contact_number" placeholder="Enter contact number">
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-group">
    <label for="password_2">Repeat your password</label>
    <input type="password" class="form-control" id="password_2" name="password2" placeholder="Enter your password again">
    </div>
    <div class="text-center" class="form-group">
    <button class="btn btn-info" type="submit"  id ='register' >Register</button>
    </div>
    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'loginview' %}"
        class="fw-bold text-body"><u>Login here</u></a></p>
    </form>
</div>

<script>

    $("#register").click(function(){
        $.ajax({
            type: "POST",
            url: 'http://127.0.0.1:8000/lms/register/',
            data: $('#registration').serialize(),
            success: function(data) {
                console.log(data)      
            },
            error: function() {
                alert('Error');
            },
            
        });
        return false;

    })

</script>

</body>
</html>